<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
    <h1>Detalhe do paciente</h1>
    <div class="container">
        <p><strong>ID: </strong> {{ paciente.id }}</p>
        <p><strong>nome: </strong> {{ paciente.nome }}</p>
        <p><strong>idade</strong>: </strong> {{ paciente.idade }}</p>
        <p><strong>Sintoma:Dor de cabeca </strong> {{ paciente.sintoma }}</p>

        <img src="{{paciente.image }}" alt="imagem do {{ paciente.nome }}">
        
    </div>
</body>
</html>