<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Medicos disponiveis</h1>
    <div class="container">
        <ul>
        {% for medico in medicos %}
            <li>
                <a href="{{ url_for('detalhe_medico', medico_id=medico.id) }}">
                    {{ medico.nome }} (ID: {{ medico.id }})
                </a>
            </li>
        {% else %}
            <li>nenhum medico disponivel no momento</li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>